<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzM1lvMZwhyecmKozEmX9j3wkj5qYaVvc</string>
	<key>GCM_SENDER_ID</key>
	<string>1014944252911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.alfatek.supergaletto</string>
	<key>PROJECT_ID</key>
	<string>supergaletto-39fa9</string>
	<key>STORAGE_BUCKET</key>
	<string>supergaletto-39fa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014944252911:ios:a2b1c5e64b4ede1a6b6c1a</string>
	<key>DATABASE_URL</key>
	<string>https://supergaletto-39fa9-default-rtdb.firebaseio.com</string>
</dict>
</plist>